# <center> SUPPORT VECTOR MACHINE </center>

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("dataset.csv")
df

         PM2.5    PM10    NO2    SO2      O3  AQI
0       104.00  148.50  23.00  15.30  117.62  3.0
1        94.50  142.00  16.25  17.00  136.23  3.0
2        82.75  126.50  14.83  15.40  149.92  3.0
3        68.50  117.00  13.60  21.80  161.70  3.0
4        69.25  112.25  11.80  21.38  161.68  3.0
...        ...     ...    ...    ...     ...  ...
129272   12.75   45.00  17.20  10.82   45.80  5.0
129273   10.75   36.75  17.75   4.38   50.73  4.0
129274   15.75   30.25  13.75   2.90   41.55  4.0
129275   14.00   29.50  20.70   7.12   39.23  4.0
129276    9.75   24.25  23.85   8.45   34.78  4.0

[129277 rows x 6 columns]

In [2]:
cols=['PM2.5',"PM10","NO2","SO2","O3"]
X=df[cols]
y=df['AQI']
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129277 entries, 0 to 129276
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PM2.5   129277 non-null  float64
 1   PM10    129277 non-null  float64
 2   NO2     129277 non-null  float64
 3   SO2     129277 non-null  float64
 4   O3      129277 non-null  float64
dtypes: float64(5)
memory usage: 4.9 MB

In [3]:
#Split into train and test set
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)

In [4]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score 
svc=SVC() 
svc.fit(X_train,y_train) 
y_pred=svc.predict(X_test) 
print('Model accuracy score with default hyperparameters: {0:0.4f}'. 
format(accuracy_score(y_test, y_pred)))

Model accuracy score with default hyperparameters: 0.6655

In [5]:
from sklearn.metrics import mean_absolute_error
y_train_pred = svc.predict(X_train) 
mae_train = mean_absolute_error(y_train, y_train_pred) 
mae_test = mean_absolute_error(y_test, y_pred) 
print(mae_train) 
print(mae_test) 
if mae_train < mae_test:
    print("Overfitting is present")
else:
    print("Underfitting is present")

0.35996557759062475
0.36107673267326734
Overfitting is present

In [6]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.81      0.49      0.61       615
         1.0       0.65      0.56      0.60      1988
         2.0       0.54      0.35      0.42      2942
         3.0       0.69      0.78      0.73     10093
         4.0       0.67      0.73      0.70      8158
         5.0       0.66      0.46      0.54      2060

    accuracy                           0.67     25856
   macro avg       0.67      0.56      0.60     25856
weighted avg       0.66      0.67      0.66     25856

In [7]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[ 303,  247,   39,   20,    6,    0],
       [  57, 1107,  471,  334,   17,    2],
       [   8,  321, 1022, 1487,  101,    3],
       [   4,   39,  374, 7855, 1780,   41],
       [   1,    1,    2, 1731, 5972,  451],
       [   0,    0,    0,    7, 1104,  949]], dtype=int64)